*, *::before, *::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #ffffff;
}
a{
  text-decoration: none;
  color: inherit;
}
body {
  background: #17162E;
}
.container {
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}